<li>
  <%= gravatar_for user, size: Settings.avatar.microsize %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | activated: <%= user.activated %> | <%= link_to t("users.delete"), user, method: :delete,
            data: { confirm: t("users.sure") } %>
  <% end %>
</li>
